@{
    ViewBag.Title = "ThankYou";
}

<h2 class="text-primary">Thank You for your order.</h2>

<p class="text-success">

    We will email you at @Html.Raw(@ViewBag.Email) when your order is shipped!
</p>