<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <!-- ****************************************************************************************** -->
    <!--                     Service SettingS                                                       -->
    <!-- ****************************************************************************************** -->
    <add key="Service.Name" value="Playground.MultiThreadedService"/>
    <add key="Service.Description" value="Multi-Threaded Windows Service"/>
    <add key="Service.Thread.Main" value="MAIN_THREAD"/>
    <add key="Service.Thread.Main.Delay" value="0"/>
    <!--in seconds-->
    <add key="Service.Thread.Main.Interval" value="1"/>
    <!--in Minutes-->
    <add key="Service.Thread.Heartbeat" value="HEARTBEAT_THREAD"/>
    <add key="Service.Thread.Heartbeat.Delay" value="15"/>
    <!--in seconds-->
    <add key="Service.Thread.Heartbeat.Interval" value="5"/>
    <!--in Minutes-->
    <add key="FileCleanup.Interval" value="4"/>
    <!--in hours-->
    <!--Log4Net Settings-->
    <add key="Log4Net.MaxSizeRollBackups" value="20"/>
  </appSettings>

</configuration>