<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Playground.Winforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="ORACLE.HOST" value="KASHIF-DESKTOP" />
    <add key="ORACLE.PORT" value="1521" />
    <add key="ORACLE.SERVICE.NAME" value="XE" />
    <add key="ORACLE.USER.ID" value="SERAPH" />
    <add key="ORACLE.USER.PASSWORD" value="password" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ORACLE.HOST" value="dfw0ora04b.tqs.com" />
    <add key="ORACLE.PORT" value="1521" />
    <add key="ORACLE.SERVICE.NAME" value="oradev1.tqs.com" />
    <add key="ORACLE.USER.ID" value="kmubarak" />
    <add key="ORACLE.USER.PASSWORD" value="password" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Playground.Winforms.Properties.Settings>
      <setting name="ViewLoginMessage" serializeAs="String">
        <value>False</value>
      </setting>
    </Playground.Winforms.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>