@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    <h3 class="text-primary">Home</h3>
    <strong>Home:</strong> Main Page!<br />
    <strong>About:</strong> About SeraphBootstrapMVC Website<br />
    <strong>Contact:</strong> Contact Info.<br />
    <strong>HTML Helpers:</strong> Examples of commons HTML Helpers in Razor and jQuery Date Picker<br />
    <strong>ViewBag-ViewData-TempData:</strong> Examples/definition of ViewBag, ViewData and TempData<br />
    <strong>Contact:</strong> Contact page with home address, phone number and email address.<br />
    <strong>Send Email:</strong>Send Email using Gmail account with attachment. Counts characters as user type using jQuery<br />
</p>
<p>
    <h3 class="text-primary">Flexigrid</h3>
    <strong>Flexigrid Employee Manager:</strong> Employee Manager using famous FlexiGrid in MVC.<br />
</p>
<p>
    <h3 class="text-primary">Webgrid</h3>
    <strong>Webgrid Employee Manager:</strong> Employee Manager using MVC Web Grid. Add/Update/Delete and paging, sorting and Search<br />
    <strong>Webgrid Bookmark Manager:</strong> Bookmark Manager using WebGrid with add/update/delete and search/sort.<br />
    <strong>Employees with Photo:</strong> User of jQuery Modal Dialog to display employee details and confirmation dialog box before delete.<br />
</p>
<p>
    <h3 class="text-primary">Other Examples</h3>
    <strong>Ajax:</strong> Ajax using jQuery.<br />
    <strong>Auto-Complete:</strong> Auto-complete text box for Employee First name.<br />
    <strong>Radio Buttons - jQuery:</strong> Show/Hide radio buttons based on user's response using jQuery.<br />
    <strong>Add Controls Dynamically:</strong> Add multiple controls to page using jQuery and getting inputs from user using jQuery dialog.<br />
    <strong>Count Characters:</strong> Count occurrences of each letter/element in the given string including spaces.<br />
    <strong>Multi-Selection List Box:</strong> Selecting multiple items in a List-Box.<br />
    <strong>Multiple Drop-downs:</strong> Populate multiple drop-downs on changing values in one drop-down box. <br />
    <strong>BlueImp Photo Gallery:</strong> Photo Gallery using BlueImp tool.<br />
</p>
<p>
    <h3 class="text-primary">Bootstrap Examples</h3>
    <strong>Accordion:</strong> Accordion control using Bootstrap.<br />
    <strong>Carousel:</strong> Carousel with a static modal dialog using Bootstrap.<br />
    <strong>Tab Controls:</strong> 2 types of tab controls using Bootstrap.<br />
    <strong>Alerts:</strong> Alerts using using Bootstrap.<br />
    <strong>Typeahead (Auto-Complete):</strong> Auto-Complete and loading data into Bootstrap Modal dialog.<br />
</p>