@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="text-success">
        @Html.Raw(ViewBag.IslamicDate)
    </p>
    <h1>Mvc Playground</h1>
    <p class="lead">Featuring:</p>
    <p>
        <a href="#" class="btn btn-primary btn-large">jQuery &raquo;</a>
        <a href="#" class="btn btn-default btn-large">Bootstrap &raquo;</a>
        <a href="#" class="btn btn-danger btn-large">Razor &raquo;</a>
        <a href="#" class="btn btn-info btn-large">HTML &raquo;</a>
        <a href="#" class="btn btn-success btn-large">Javascript &raquo;</a>
        <a href="#" class="btn btn-warning btn-large">C# &raquo;</a>
        <a href="#" class="btn btn-primary btn-large">MVC Filters &raquo;</a>
        <a href="#" class="btn btn-default btn-large">ViewBag &raquo;</a>
        <a href="#" class="btn btn-danger btn-large">Entity Framework 5.0 &raquo;</a>
    </p>
    <p>
        <a href="#" class="btn btn-primary btn-large">SQL Server &raquo;</a>
        <a href="#" class="btn btn-default btn-large">Font Awesome &raquo;</a>
        <a href="#" class="btn btn-danger btn-large">jQuery Flexigrid &raquo;</a>
        <a href="#" class="btn btn-info btn-large">MVC WebGrid &raquo;</a>
        <a href="#" class="btn btn-success btn-large">Bootstrap Type-ahead &raquo;</a>
        <a href="#" class="btn btn-warning btn-large">Bootstrap Tabs &raquo;</a>
    </p>
    <p>
        <a href="#" class="btn btn-primary btn-large">Bootstrap Carousel &raquo;</a>
        <a href="#" class="btn btn-default btn-large">Bootstrap Dialog &raquo;</a>
        <a href="#" class="btn btn-danger btn-large">Bootstrap Alert &raquo;</a>
        <a href="#" class="btn btn-info btn-large">Bootstrap Accordion &raquo;</a>
        <a href="#" class="btn btn-success btn-large">Image Gallery &raquo;</a>
        <a href="#" class="btn btn-warning btn-large">jQuery Dialog &raquo;</a>
    </p>
    <p>
        <a href="#" class="btn btn-primary btn-large">jQuery Auto-Complete &raquo;</a>
        <a href="#" class="btn btn-default btn-large">AJAX &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            My self-learning MVC with Bootstrap and all web technologies.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Download all packages using NuGet Package Manage within Visual Studio.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Deployed on <a href="http://www.appharbor.com">AppHarbor.com</a> AppHarbor is a great place to host a .NET Website!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>